<!--<nav class="subnav">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="../dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="../myclass" routerLinkActive="active">Ma classe</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="../myskills" routerLinkActive="active">Mes compétences</a>
      </li>
  </ul>
</nav> -->
<clr-tabs class="subnav">
  <clr-tab>
    <button class="nav-link" clrTabLink routerLink="../dashboard" routerLinkActive="active">Dashboard</button>
  </clr-tab>
  <clr-tab>
    <button class="nav-link" clrTabLink routerLink="../myclass" routerLinkActive="active">Ma classe</button>
  </clr-tab>
  <clr-tab>
    <button class="nav-link" clrTabLink routerLink="../myskills" routerLinkActive="active">Mes compétences</button>
  </clr-tab>
</clr-tabs>
